
body {
    background-color: #262a2b;
    background-image: url(../Images/tiwsc_ensemble.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: unset;
    color: antiquewhite;
    }

header {
    background-color: #dcdcdc;
}
header ul {
    list-style-type: none;
    text-align: center;
}

header ul li {
    color: black;
    display: inline;
    padding: 16px;
}

nav h1 {
    text-align:center;

    font-size: 50px;
}
footer h3 {
    text-align:center;
}

footer img {
    height: 50px; 
    width:50px;
}