
body {
    background-color: #262a2b;
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    }
header {
    background-color: rgba(220, 220, 220, 0.6);
    position: fixed;
    width: 100%;
}
header ul {
    list-style-type: none;
    text-align: center;
    margin: 3px;
}
#iysblogo img {
    height: 50px; 
    width:50px;
    float: left;
    padding: 10px;
}
#navlink {
    float: right;
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 20px;
}
#navlink li {
    color: black;
    display: inline;
    padding-right: 16px;
    font-weight: bold;
}
nav h1 {
    text-align:center;
    font-size: 50px;
}
footer h1 {
    text-align: center;
}
footer h3 {
    text-align:center;
}
footer img {
    height: 50px; 
    width:50px;
}
#intro {
    background-image: url(../Images/tiwsc_ensemble.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: unset;
    height: 840px;
}
div.aboutus {
    width: 100%;
    height: 100%;
    overflow: auto;
}

#tiwscvideo {
    float: left;
    background-color: #262a2b;
    width: 50%;
    
}
#history {
    font-size: 18px;
    text-align: justify;
    background-color: white;
    color: black;
    line-height: 1.5;
    width: 50%;
    float: left;
    
    
}